@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <p>I'm a new C# programmer that will learn how to create a website using asp.net and MVC.</p>
</div>
